@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.header-lista{
  list-style: none;

}

.header-lista li {
  display: inline-block;
}

.header-container-bottom {
  align-items: center;
  background-color: #f0a83e;
  display: flex;
  justify-content: space-between;

}


.logo-base {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
}

.logo-first {
  color: #3c2313;
}

.burger-menu {
  display: none;
  color: #ffffff;
  padding-right: 5%;

}

.nav-links {
  color: #ffffff;
  display: flex;
  font-weight: 400;
  font-size: 13px;
  padding-right: 5%;

}

.nav-links ul{
  display: flex;
  list-style: none;
}

.nav-links li{
  padding: 20px 10px;
}


h1 {
  border-radius: 5px;
  background-color: #FFFFFF;
  font-size: 30px;
  font-weight: 400;
  padding: 10px;
  text-align: center;

}

.section-imagen-principal {
  align-items: center;
  background-image: url("../img/bowl-and-pet-daities-on-green-background1.png");
  background-size: cover;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  height: 409px;
  justify-content: flex-end;
  margin-bottom: 20px;
  text-align: center;
}

.objetos-imagen-principal{
  display: block;
  padding: 20px;

}

.imagen-principal {
  width: 100vw;

}

.comederos-titulo {
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 10px;
  }

.boton-comedor {
  background-color: #F0A83E;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 20px;
  text-transform: uppercase;
  
}

.productos-destacados-contenedor{
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.lista-productos-destacados {
  
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.producto-destacado-card{
  align-items: center;
  background-color: #FBFAF6;
  display: flex;
  flex-direction: column;

}

.productos-destacados-titulo {
  color: #3C2313;
  font-size: 40;
}

.productos-destacados-categorias {
  color: #666666;

}

.producto-destacado-descripcion {
  color: #3C2313;
  font-size: 15px;

}

.producto-destacado-precio {
  color: #F0A83E;
  font-size: 15px;
  font-weight: 500;

}

.footer-contacto {
  align-items: center;
  background-color: #3C2313;
  color: #FFFFFF;
  display: flex;
  font-weight: bold;
  justify-content: space-around;
}

.opciones-contacto{
  display: flex;
  flex-direction: column;
}

.opcion-contacto-row{
  display: flex;
  align-items: center;

}

.opcion-contacto-text{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  
}

.footer-icono-titulo {
  font-size: 20px;
  
}

.footer-icono-info {
  font-size: 10px;
}



.logo-footer {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  color: #F0A83E;
}

.logo-second {
  color: #FFFFFF;
}

.footer-cierre {
  background-color: black;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 10px;
  text-align: center;

}

@media screen and (max-width: 480px) {
  .header-container-top {
    display: none;

  } 
  .burger-menu {
    display: inline-block;
  }

  .nav-links {
    display: none;
  }

  .objetos-imagen-principal{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
  }

  h1{ 
    font-size: 25px;
    padding: 15px 40px;
  }
  
  
  .lista-productos-destacados{
    flex-direction: column;
  }

  .footer-contacto{
    flex-direction: column-reverse;
    height: 320px;

  }

  .opciones-contacto{
    flex-grow: 1;
    justify-content: space-around;
    
  }

  .opcion-contacto-text{
    margin-left: 15px;
  }

  .footer-icono-titulo {
    font-size: 24px;
    
  }
  
  .footer-icono-info {
    font-size: 13px;
  }
  
  .logo-footer {
    font-size: 15px;
    padding: 10px;

  }

  .footer-cierre {
    font-size: 13px;
  }


}